@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dedec9;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #393333;
    width: 100%;
    justify-content: flex-end;
    padding-top: 10px;
    gap: 0px;
}

hr {}

.nav p {
    color: #c4c4c4;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding-right: 12px;
}

.banner {
    display: flex;
    width: 100%;
    top: 0;
}

.logo {
    text-align: center;
    padding-top: 50px;
}

.logo img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    outline-width: 2px;
    outline-offset: 4px;
    outline-style: solid;
}

.quick-icon {
    outline-width: 2px;
    outline-offset: 4px;
    outline-style: solid;
    padding: 2px;
    width: 40px;
}

.id {
    padding-top: 20px;
}

.bio {
    padding: 10px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #333333;
}

a img:hover {
    transform: translateX(2px) translateY(-2px);
}

footer {
    align-items: center;
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 18px;
    font-size: 28px;
}

h2 {
    color: #333333;
    font-size: 16px;
}

h4 {
    color: #333333;
    font-size: 13px;
    font-weight: normal;
}

p {
    color: #333333;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 1px;
    line-height: 1.2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    width: 160px;
    height: 160px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    outline-width: 2px;
    outline-style: solid;
}

.card img {
    width: 50px;
    border-radius: 10px;
}

.gridbook {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2px;
    gap: 10px;
}

.gridbook a {
    font-size: 10px;
    outline-style: solid;
    outline-width: 0px;
}

.gridbook img {
    width: 40px;
    border-radius: 5px;
    padding: 1px;
}

.inviteBtn {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    width: 180px;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #3e3e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    outline-width: 2px;
    outline-offset: 4px;
    outline-style: solid;
}

.inviteBtn p {
    color: #fff;
    font-size: 14px;
    padding-top: 6px;
    font-weight: normal;
}