@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;

}

body {

    background-color: #e4e4e7;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #333333;
    width: 100%;
    justify-content: flex-end;
    padding-top: 10px;
    gap: 0px;
}

.nav p {
    color: #c4c4c4;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding-right: 12px;
}

.tag {
    background-color: #ffffff6b;
    padding: 5px;
    border-radius: 10px;
}

.floating-msg {
    font-family: 'Belanosima', sans-serif;
    background-color: #333333;
    padding: 25px;
    font-size: 12px;
    border-radius: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 8px rgba(17, 17, 17, 0.5);
}

.banner {
    display: flex;
    width: 100%;
    top: 0;
}

.logo {
    text-align: center;
    padding-top: 80px;
}

.logo img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    outline-width: 2px;
    outline-offset: 4px;
    outline-style: solid;
    background-color: #333333;
}

.quick-icon {
    outline-width: 2px;
    outline-offset: 4px;
    outline-style: solid;
    padding: 2px;
    width: 40px;
}

.id {
    padding-top: 20px;
}

.bio {
    padding-top: 10px;
    gap: 10px;
}

.bio p {
    color: #333333;
}

.sub-bio {
    width: 228px;
    padding-top: 10px;
    gap: 10px;
}

.sub-bio p {
    color: #c4c4c4;
}

a {
    text-decoration: none;
    color: #333333;
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.05);
}

footer {
    align-items: center;
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 18px;
    font-size: 28px;
}

h2 {
    color: #333333;
    font-size: 16px;
}

h4 {
    color: #333333;
    font-size: 13px;
    font-weight: normal;
}

p {
    color: #333333;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 1px;
    line-height: 1.2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    width: 228px;
    height: 128px;
    border-radius: 10px;
    font-size: 16px;
    outline-style: solid;
    background-color: #000000;
    text-align: left;
}

.card img {
    width: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card p {
    color: #333333;
    font-size: 16px;
}

.inviteBtn {
    border-radius: 10px;
    width: 200px;
    height: 35px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    outline-width: 2px;
    outline-offset: 4px;
    outline-style: solid;
    transition: transform 0.3s ease;
}

.inviteBtn p {
    color: #dddddd;
    font-size: 13px;
    padding-top: 6px;
    font-weight: normal;
    padding-left: 5px;
}

.inviteBtn:hover {
    transform: scale(1.05);
}

.scale-effect a {
    display: inline;
    margin: 0;
    background-color: #393333;
    color: #c4c4c4;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    transition: transform 0.3s ease;
}

.scale-effect a:hover {
    transform: scale(1.05);
}

.row {
    display: flex;
    gap: 20px;
}

.bookmark-cube {
    width: 130px;
    outline-width: 1.5px;
    outline-offset: 1.5px;
    outline-style: solid;
    outline-color: #c4c4c4;
    border-radius: 10px;
    padding-top: 10px;
    transition: transform 0.3s ease;
}

.bookmark-cube:hover {
    transform: scale(1.05);
}

.bookmark-cube img {
    width: 35px;
    border-radius: 10px;
}

.bookmark-cube p {
    font-size: 12px;
    color: #c4c4c4;
}

.button-row {
    display: flex;
    gap: 15px;
    padding-top: 25px;
}

.button-row a {
    font-size: 14px;
    padding: 5px;
    width: 95px;
    border-radius: 10px;
    outline-width: 2px;
    outline-offset: 3px;
    outline-style: solid;
    outline-color: #333;
    background-color: #333;
    color: #c4c4c4;
    transition: transform 0.3s ease;
}

.button-row a:hover {
    transform: scale(1.05);
}

.oc-play {
    display: flex;
    text-align: center;
    width: 105px;
    gap: 10px;
}



table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    border-bottom: 0.5px solid #ddd;
    text-align: left;
  }
  

  hr{
    border-bottom: 1px solid #ddd;
  }